<html>
    <meta charset="utf-8"/>
    <head>
        <title>Auskylia</title>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        <link rel="shortcut icon" href="favicon.ico" />
        <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body>
        <div id="universe">
            <img id="logo" src="img/logo.svg" width="512px" height="256px" />
            <div id="mainWindow" >
                <p id="instruction">
                    Aby rozpocząć, wybierz miasto początowe i końcowe, oraz parametry.
                </p>
                <form id="mainForm">
                    <fieldset class="inputFieldset">
                        <legend>Cele Podróży</legend>
                        Miasto początkowe:<br/>
                        <select id="startCity" class="citySelect" required="required">
							<option value="" >Wybierz Lotnisko</option>
                        </select>
                        Miasto końcowe:<br/>
                        <select id="endCity" class="citySelect" required="required">
							<option value="" >Wybierz Lotnisko</option>
                        </select>
                    </fieldset>
                    <fieldset class="inputFieldset">
                        <legend>Parametry</legend>
                        <p>
                            Ustaw współczynnik każdego parametru, jak bardzo powinien być brany pod uwagę.
                        </p>
                        Cena:<br/>
                        <input type="range" id="priceRange" class="parameterSelect" max="100" min="0" step="1" defaultValue="50" />
                        Bezpieczeństwo:<br/>
                        <input type="range" id="safetyRange" class="parameterSelect" max="100" min="0" step="1" defaultValue="50" />
                        Wygoda:<br/>
                        <input type="range" id="comfortRange" class="parameterSelect" max="100" min="0" step="1" defaultValue="50" />
                        Czas:<br/>
                        <input type="range" id="timeRange" class="parameterSelect" max="100" min="0" step="1" defaultValue="50" />
                    </fieldset>
                    <input type="submit" id="submitForm" value="Policz trasę" />
                </form>
                <div id="progressWindow">
                    <fieldset>
                        <legend>Progres</legend>
                        <progress id="progressBar" value="0" max="100"></progress>
                        <input id="stopButton" type="button" value="Przerwij obliczenia" />
                    </fieldset>
                </div>
                <div id="solutionWindow">
                    <fieldset>
                        <legend>Wynik</legend>
                        <div id="solution">

                        </div>
                    </fieldset>
                </div>
            </div>
            <div id="waitWindow">
                <img id="hourglass" src="img/hourglass.svg" width="512" height="512" />
            </div>
            <div id="errorWindow">
                <p id="errorTitle">
                </p>
                <p id="errorText">
                </p>
                <input type="button" id="errorClose" value="Dobra"/>
            </div>
        </div>
    </body>
</html>
