body
{
     background: linear-gradient(to bottom right, #003466, #56b8ff);
     color: white;
     font-family: pixel;
     font-size: 150%;
}

@font-face
{
	font-family: pixel;
	src: url(uni05.ttf)
}

.title
{
    font-size: 200%;
}

.logo
{
    margin: auto;
    display: block;
}
