body
{
     background: linear-gradient(to bottom right, #003466, #56b8ff);
     color: white;
     font-family: pixel;
     font-size: 150%;
}

@font-face
{
	font-family: pixel;
	src: url(uni05.ttf)
}

#logo
{
    margin: auto;
    display: block;
}

#mainWindow
{
    width: 80%;
    margin: auto;
    background: rgba(0,0,0,0.5);
    display: block;
    border-radius: 20px;
    padding: 10px;
}

#instruction
{
    margin: 0px;
}

#mainForm
{
    margin: 0px;
}

#universe
{
    position: relative;
}

.citySelect
{
    width: 100%;
    border-radius: 10px;
    padding: 5px;
    font-family: pixel;
    font-size: 100%;
    border: none;
    transition: background-color 0.5s;
}

.citySelect:hover
{
    background-color: #fc6f71;
}

.inputFieldset
{
    border-radius: 10px;
    border: solid 5px red;
}

.parameterSelect
{
    width: 100%;
}

#submitForm
{
    width: 100%;
    border-radius: 10px;
    height: 50px;
    border: none;
    font-family: pixel;
    font-size: 100%;
    transition: background-color 0.5s;
}

#submitForm:hover
{
    background-color: cyan;
}

#waitWindow
{
    display: none;
    width: 512px;
    height: 512px;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
    position: absolute;
    /* Wyśrodkowanie elementu */
    top: 50%;
    left: 50%;
    margin-top: -256px;
    margin-left: -256px;
    box-shadow: 0px 0px 50px black;
}

#hourglass
{
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -256px;
    margin-left: -256px;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#errorWindow
{
    display: none;
    width: 512px;
    height: 512px;
    background: rgba(255,0,0,0.8);
    border-radius: 20px;
    position: absolute;
    /* Wyśrodkowanie elementu */
    top: 50%;
    left: 50%;
    margin-top: -256px;
    margin-left: -256px;
    box-shadow: 0px 0px 50px 10px red;
}

#errorTitle
{
    text-align: center;
    font-size: 200%;
}

#errorText
{
    text-align: center;
}

#errorClose
{
    width: 100%;
    border-radius: 10px;
    height: 50px;
    border: none;
    font-family: pixel;
    font-size: 100%;
    transition: background-color 0.5s;
    position: absolute;
    bottom: 0px;
}

#errorClose:hover
{
    background-color: red;
}

@keyframes rotate
{
    from {transform: rotate(0deg);}
    to {transform: rotate(720deg);}
}

#progressBar
{
    width: 100%;
}

#progressWindow
{
    display: none;
}
